include mixins

+htmlbase(problem.name)
	if typeof correct === 'boolean'
		if correct
			div.alert-box.success Correct
		else
			div.alert-box.alert Incorrect :( Try again
	h2= problem.name
	h4.subheader= problem.points + ' points by ' + problem.author
	section!= problem.statement
	form(action='', method='post')
		input(type='hidden', name='problemid', value=problem.id.toString())
		input(type='text', name='answer', id='answer', value=answer)
		if user
			input(type='submit', value='Submit')
		else
			| Please log in to submit.