include mixins

+htmlbase(problem.name)
	.title
		h1= problem.name + " by " + problem.author
		.right= problem.points + " points"
	section= problem.statement
	form(action='', method='post')
		input(type='hidden', name='problemid', value=problem.id.toString())
		input(type='text', name='answer', id='answer', value=answer)
		if typeof correct === 'boolean'
			img.inline(src='/images/' + (correct ? 'correct' : 'incorrect') + '.png')
		if user
			input(type='submit', value='Submit')
		else
			| Please log in to submit.